<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        main{
            min-height: 83vh;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Recording studio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-brand">Welcome, <a href="{% url 'profile' %}"  class="text-decoration-none text-white">{{ user.username }}!</a></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <span class="navbar-brand">Welcome, Guest!</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>    
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
    {% if messages %}
        {% for message in messages %}
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                {% if message.tags == 'error' %}
                <div class='toast-header bg-danger'>
                  <strong class="me-auto text-white">Error</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                {% elif message.tags == 'info' %}
                <div class='toast-header bg-warning'>
                    <strong class="me-auto text-white">Info</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                {% else %} 
                <div class='toast-header bg-success'>
                    <strong class="me-auto text-white">Success</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                {% endif %}
                <div class="toast-body">
                    {{ message }}
                </div>
              </div>
        {% endfor %}
    {% endif %}
    </div>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer class="bg-dark text-white text-center py-3">
        <p class="mb-0">© 2025 Authentication. All Rights Reserved.</p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var toastEl = document.querySelector('.toast');
            var toast = new bootstrap.Toast(toastEl);
            toast.show();
        });
    </script>
</body>
</html>